/* Base Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}

.navbar .logoimg {
    width: 100px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close,
.nav-mob-open {
    display: none;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .navbar {
        margin: 20px 50px;
    }
}

@media (max-width: 992px) {
    .navbar {
        margin: 20px 30px;
    }

    .nav-menu {
        gap: 40px;
    }

    .nav-connect {
        padding: 15px 30px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .navbar {
        margin: 20px 20px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        /* position: fixed; */
        right: 20px;
        cursor: pointer;
        z-index: 1;
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 30px;
        left: 290px;
        width: 30px;
        cursor: pointer;
        z-index: 3;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -300px;
    }

    .nav-menu.active {
        right: 0;
    }


    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;

        
    }
}

@media (max-width: 480px) {
    .navbar {
        margin: 20px 10px;
    }

    .nav-menu {
        width: 100%;
        right: -100%;
    }

    .nav-menu.active {
        right: 0;
    }

    

    .nav-menu li {
        font-size: 24px;
        /* padding-left: 50px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-mob-close {
        left: 90%;
    }
}