* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100%;
  background: #161513;
  color: white;
  font-family: 'Outfit', sans-serif;
  /* overflow: hidden;  */
}

