* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    /* background: #161513; */
    color: white;
    font-family: 'Outfit', sans-serif;
    /* overflow: hidden;  */
}